.poster-editor-layout-container .side-panel {
  display: flex;

  .menu-container {
    position: relative;
    z-index: 10;
    flex-shrink: 0;
    width: 60px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(255, 255, 255);
    border-right: 1px solid rgb(219, 219, 219);
    overflow-y: scroll;
    overflow-x: hidden;

    .element-contorller-container {
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      padding-top: 30px;

      .element-contorller {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        cursor: pointer;
      }

      .text-image {
        height: 24px;
        width: 24px;
      }

      .img-image {
        height: 30px;
        width: 30px;
      }
    }
  }

  .material-container {
    padding: 10px 0 0;
    position: relative;
    width: 310px;
    transition: all 0.35s ease-out;

    &.close {
      width: 0px;
    }

    .material-panel {
      height: 100%;
      width: 310px;
      transition: all 0.35s ease-out;

      &.close {
        transform: translate3d(-100%, 0, 0);
      }

      .ant-tabs-nav {
        height: 40px;
        margin-bottom: 10px;
      }

      .list-view-container {
        max-height: calc(100% - 50px);
        overflow-y: auto;

        .list-view {
          .template-list {
            width: 290px;
            margin: 0px auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 25px;
            grid-column-gap: 5px;

            .template-item {
              width: 140px;
              margin-bottom: 10px;
              grid-row-start: auto;
              cursor: pointer;

              img {
                width: 100%;
                height: 100%;
              }

              &:nth-child(2n) {
                margin-right: 0px;
              }
            }

            &:after {
              display: block;
              clear: both;
              content: "";
            }
          }

          .list-view-loading {
            text-align: center;
            color: #1890ff;
          }
        }
      }

      .material-list {
        height: 100%;

        .search-bar {
          padding: 8px;
          background-color: #ededed;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .02), 0 4px 8px 0 rgba(0, 0, 0, .02);
          border-radius: 2px;
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .all-tag {
            width: 40px;

            &:hover {
              cursor: pointer;
              color: #40a9ff;
            }
          }

          .search-input {
            flex: 1;
          }

          .search-btn {
            width: 42px;
            border-radius: 0 2px 2px 0;
          }
        }

        .tab-bar {
          padding: 10px 20px;
          text-align: center;
          border-bottom: 1px solid #f0f0f0;

          .tabpane-bar {
            display: inline-block;
            cursor: pointer;
            padding-bottom: 4px;
            margin: 0 16px;

            &.active {
              color: #1890ff;
              border-bottom: 2px solid #1890ff;
            }

            &:hover {
              color: #40a9ff;
            }
          }
        }

        .content-wrap {
          padding-top: 16px;
          max-height: calc(100% - 100px);
          overflow-y: auto;
          width: 290px;
          margin: 0px auto;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: 25px;
          grid-column-gap: 10px;

          &.no-header {
            max-height: calc(100% - 40px);
          }

          .grid-item {
            grid-row-start: auto;
            width: 140px;
            margin-bottom: 10px;
            cursor: pointer;
            position: relative;
            background: #fff;
            box-sizing: border-box;

            &:hover {
              .icon-more {
                opacity: 1;
                transform: translateY(0);

                &:hover {
                  background-color: #1890ffbf;
                }
              }
            }

            &.upload-card {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin-bottom: 10px;
              color: rgba(0, 0, 0, .65);
              transition: all .35s linear;
              border: 1px dashed #dedede;
              border-radius: 10px;
              grid-row-end: span 6;

              &:hover {
                border: 1px dashed #1890ff;
              }

              .upload-card-icon {
                font-size: 24px;
              }

              .upload-card-text {
                margin-top: 8px;
                font-size: 12px;
              }
            }
          }

          .img {
            width: 100%;
            height: 100%;
          }

          .icon-more {
            position: absolute;
            top: 5px;
            right: 10px;
          }

          .icon-opt {
            font-size: 18px;
            border-radius: 5px;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            opacity: 0;
            transform: translateY(-16px);
            transition: all .15s ease-in-out;
            padding: 2px;
          }
        }

        .empty {
          height: calc(100% - 100px);
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }

    .material-content-toggle {
      position: absolute;
      z-index: 10;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 80px;
      background: #ffffff;
      cursor: pointer;
      opacity: 0.8;
      border-radius: 0px 5px 5px 0;
      transition: right 0.1s linear;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 30px;
        right: 7px;
        background: url('../../../assets/svgs/angle-brackets.svg') -7px 0px no-repeat;
        width: 6px;
        height: 20px;
        transition: transform 0.4s ease;
        background-size: cover;
      }

      &.close:after {
        transform: rotate(180deg);
      }
    }
  }
}