.glassback {
    position: relative;
    width: 100vw;
    height: 100vh;
    .polygon {
      position: absolute;
      opacity: 0.5;
    }
    &-bg {
      &_polygon1 {
        .polygon();
        bottom: 30vh;
        left: 50%;
        transform: translate(-50%, 0);
        width: 70vw;
        height: 70vh;
        background: linear-gradient(#ffee55, #fdee99);
        clip-path: polygon(0 10%, 30% 0, 100% 40%, 70% 100%, 20% 90%);
      }
      &_polygon2 {
        .polygon();
        bottom: 0px;
        left: 30%;
        transform: translate(-50%, 0);
        width: 70vw;
        height: 70vh;
        background: linear-gradient(-36deg, #e950d1, #f980d9);
        clip-path: polygon(10% 0, 100% 70%, 100% 100%, 20% 90%);
      }
      &_polygon3 {
        .polygon();
        bottom: 0px;
        left: 70%;
        transform: translate(-50%, 0);
        width: 70vw;
        height: 70vh;
        background: rgba(87, 80, 233);
        clip-path: polygon(80% 0, 100% 70%, 100% 100%, 20% 90%);
      }
    }
    &-bg::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      backdrop-filter: blur(130px);
      z-index: 1;
    }
  }
  